.welcome {
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
  padding: 30px;
  height: 100rem;
  margin-bottom: 1rem;
  font-family: "Merriweather", serif;
  background: url("./../images/food.jpeg");
  background-size: cover;
  justify-content: center;
}
.welcome h2 {
  color: rgb(132, 108, 59);
}
